<article class="PostContainer">
  <div class="FakePost">
    <div class="PostTop">
      <div class="User">{{User}}</div>
      <div class="PDate">{{PDate}}</div>
    <p class="PostText">{{PostText}}</p>
    <div class="PostBot">
      <a class="PostBtn" href="">Like</a>
      <a class="PostBtn" href="">Reply</a>
      <span>2 days</span>
      <a class="Report" href="">Report</a>
    </div>
  </div>
</article>
