<main>
  <form id="createPost" action="/" method="post">
    <fieldset>
      <legend>Create Post</legend>
      User Name: <input type="text" name="userName" required><br>
      Date of Entry: <input type="date" name="dateOfEntry" required><br>
      Text<br><textarea name="comment" style="width:250px;height:150px;" required></textarea><br>
      <input type="radio" value="notFake" name="isFake" checked>Not Fake
      <input type="radio" value="fake" name="isFake">Fake<br>
      <input type="submit" value="submit">
    </fieldset>
  </form><br>
  <div class="PostContainer">
    {{#each groupPost}}
      {{> post}}
    {{/each}}
  </div>
</main>
