<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Feed</title>

    <link rel="stylesheet" href="/style.css" media="screen">
  </head>

  <body>
    {{{body}}}
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script src="/postTemplate.js"></script>
  <script src="/index.js" charset="utf-8"></script>

</html>
